<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MainModuleContext" connectionString="metadata=res://*/Model.MainModuleDataModel.csdl|res://*/Model.MainModuleDataModel.ssdl|res://*/Model.MainModuleDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=C3Plus;user id=sa;password=q1w2e3r4;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>