<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MainModuleContext" connectionString="metadata=res://*/Model.MainModuleDataModel.csdl|res://*/Model.MainModuleDataModel.ssdl|res://*/Model.MainModuleDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=SolverFramework;User ID=sa;Password=q1w2e3r4;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <add key="strConectionString" value="Data Source=localhost;Initial Catalog=SolverFramework;User ID=sa;Password=q1w2e3r4;MultipleActiveResultSets=True" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
